<script type="text/javascript">

  //Get user id and convert to json
  var user_id = <%= @user.id.to_json %>

  $(function() {
    $("#add_sound_p").load("/users/" + user_id + "/sounds/new");
  })

</script>

<h3> <%= @user.user_name %> </h3>
Location: <%= @user.location %>

<div id="feed">
</div>

<p id="add_sound_p">
  <!-- Placeholder for controls to add sound. -->
</p>

<p>
   <%= button_to "Show All Sounds", "/sounds", method: :get %>
</p>

<p>
  <%= button_to "Log out", "/authentications/_", method: :delete %>
</p>
