<script type="text/javascript">

  //Get user id and convert to json
  var user_id = <%= @user.id.to_json %>

  $(function() {
    $("#add_sound_p").load("/users/" + user_id + "/sounds/new");
  })

</script>
<div class="user_profile_page">
  <div class="page_container">
    <div class="greeting">Hey there, <%= @user.user_name.capitalize %></div>
    <!-- <article>Location: <%# @user.location %></article> -->
    <article>Your Rating: <%= @user.avg_votes %></article>
    <br>
    <article id="feed">
      <table class="feed_table">
        Your Recent Activity:
        <br>
        <th>Title</th>
        <th>Description</th>
        <th>Location</th>
        <th>Rating</th>
        <th>Tags</th>
        <th>Edit</th>
          <tr>
          <% current_user.sounds.each do |sound| %>
            <td class="first_td"><%= sound.sound_name %></td>
            <td class="feed_table_data"><%= sound.description %></td>
            <td class="feed_table_data"><%= sound.location %></td>
            <td class="feed_table_data"><%= sound.ratings %></td>
            <td class="feed_table_data"><%= raw sound.tag_list.map {|t| link_to t, tag_path(t)}.join(', ') %></td>
            <td class="feed_table_data"><%= button_to "Edit", user_sound_path(current_user, sound.id), method: :get %></td>
          <% end %>
          </tr>
        
      </table>
      <br>
      <br>
      <footer class="user_footer">
         <%= button_to "View All Sounds", "/sounds", method: :get %>
      </footer>
    </article>

    <p id="add_sound_p">
      <!-- Placeholder for controls to add sound. -->
    </p>

    

  </div>
</div>