<script type="text/javascript">

  //Get user id and convert to json
  var user_id = <%= @user.id.to_json %>

  $(function() {
    $("#add_sound_p").load("/users/" + user_id + "/sounds/new");
  })

</script>

<%= @user.user_name %>

<p id="add_sound_p">
  <!-- Placeholder for controls to add sound. -->
  <!-- <%= button_to "Add a Sound", new_user_sound_path(@user), method: :get %> -->
</p>

<p>
   <%= button_to "Show All Sounds", "/sounds", method: :get %>
</p>

<p>
  <%= button_to "Log out", "/authentications/_", method: :delete %>
</p>
