<div class="sounds" class="small-block-grid-2">
  <ul id="ordered" class="small-block-grid-2">
   <% @sounds.each do |sound| %>  
    <div class="sound_tags ui-widget-content">
      <li class="sound_grid_name">

        <!-- we want just part of the sound name -->
        <%= link_to (truncate sound.sound_name.upcase, length: 8), sound_path(sound), class: "sound_name" %> <a href="#" id="plus_sign">+</a></li>
      <li class="sound_rating" alt="rating"><%= sound.ratings %></li>

      <!-- any user can download sound logged in/out -->
      <li><%= link_to (image_tag "download.svg", class: "download_btn", alt: "download"), download_path(sound.id), :method => :get, class: "download_btn" %>
      </li>

      <!-- user can preview the sound -->
      <li>
        <a class="playback" href="#">
          <%= image_tag "playbutton.svg", class: "play_btn" %>
        </a>
        <%= audio_tag preview_path(sound.id), id: "preview_btn" %>
      </li>

      <!-- user can rate the sound if logged in -->
      <li><%= render partial: 'sounds/rating', locals: {sound: sound} %></li>
    </div>
    <% end %>
  </ul>
  <div id="view_all"><%= link_to "View All", sounds_path, style: "color: white;" %></div>
</div>

<script> 

 $(function() {

  // add incremental ids to each sound
  $('#ordered div').each(function(i,el){
      el.id = "sound_" + (i+1);
  });

  for(var i = 1;  i<10; i++) {
    $('#sound_' + i).draggable({ revert: true });
  };

  

  $(".playback").click(function(e) {
    e.preventDefault();
    // This next line will get the audio element
    // that is adjacent to the link that was clicked.
    var song = $(this).next('audio').get(0);
      song.play();
   });

  

 });

</script>