<h1>Sounds index</h1>

<% @sounds.each do |sound| %>
  <%= sound.id %>
  <%= sound.sound_name %>
  <%= sound.description %>
  <%= sound.rating %>
  <%= sound.user_id %>
  <%= sound.sound_file_file_name %>
  <%= sound.sound_file_content_type %>
  <%= sound.sound_file_file_size %>
  <%= sound.sound_file_updated_at %> 
  <%= button_to "Download", download_path(sound.id), :method => :get %>

<% end %>

<%= button_to "Back to Profile", user_path(current_user), method: :get %>