<h1>Sounds index</h1>
<div id="tag_cloud" class="small-block-grid-2">
  
  <% tag_cloud Sound.tag_counts, %w[s m l] do |tag, css_class| %>
  
    <div class="single_tags"> <%= link_to tag.name, tag_path(tag.name), class: css_class %></div>

  <% end %>
</div>

<div class="sounds" class="small-block-grid-2">
 <% @sounds.each do |sound| %>  
  
  <div class="sound_tags" >
      <p><%= link_to sound.sound_name, sound_path(sound) %></p>
      <p>Rating:<%= sound.ratings %></p>
      <p><%= button_to "Download", download_path(sound.id), :method => :get %></p>
      <p><%= render :partial => 'sounds/rating', :locals => {sound: sound} %></p>
 
  </div>
  <% end %>   
</div>

<div><%= button_to "Back to Profile", user_path(current_user), method: :get %></div>
 
  
    
    
    
    
    
    
    
    
     
    
    
    
    
  
  
  