<h1>Sounds index</h1>

<div id="tag_cloud">
  <% tag_cloud Sound.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Sound Name</th>
    <th>Description</th>
    <th>Location</th>
    <th>Rating</th>
    <th>Author</th>
    <th>File Name</th>
    <th>File Type</th>
    <th>File Size</th>
    <th>File Updated</th>
    <th>Download</th>
    <th>Rate Sound</th>
    <th>Tags</th>
  </tr>
  <% @sounds.each do |sound| %>
  <tr>
    <td><%= sound.id %></td>
    <td><%= sound.sound_name %></td>
    <td><%= sound.description %></td>
    <td><%= sound.location %></td>
    <td><%= sound.sound_ratings %></td>
    <td><%= sound.user.user_name %></td>
    <td><%= sound.sound_file_file_name %></td>
    <td><%= sound.sound_file_content_type %></td>
    <td><%= sound.sound_file_file_size %></td>
    <td><%= sound.sound_file_updated_at %></td> 
    <td><%= button_to "Download", download_path(sound.id), :method => :get %></td>
    <td><%= render :partial => 'sounds/rating', :locals => {sound: sound} %></td>
    <td><%= raw sound.tag_list.map {|t| link_to t, tag_path(t)}.join(', ') %></td>
  </tr>
<% end %>
</table>
<%= button_to "Back to Profile", user_path(current_user), method: :get %>