<h1>Sound Data!</h1>

Name of sound: <%= @sound.sound_name %><br>
File name: <%= @sound.sound_file_file_name %><br>
File type: <%= @sound.sound_file_content_type %><br>
File size: <%= @sound.sound_file_file_size %><br>
File updated at: <%= @sound.sound_file_updated_at %><br>
Description of sound: <%= @sound.description %><br>
Rating: <%= @sound.rating %><br>
Location: <%= @sound.location %><br>
User id: <%= @sound.user_id %><br>
Sound created at: <%= @sound.created_at %><br>
Sound updated at: <%= @sound.updated_at %><br>

<%= button_to "Edit", edit_user_sound_path(current_user, params[:id]), method: :get %>
<%= button_to "Delete", user_sound_path(current_user, params[:id]), method: :delete %>