<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div id="top_nav">
		<% if current_user %>
			<%= link_to "", root_path, id: "logocan", class: "nav_contents" %>
			<div id="logotext" class="nav_contents">HearHere</div>
			<div class="nav_content_right">
				<%= link_to signout_path, method: "delete", class: "nav_contents" do %>
			  	<%= image_tag "signout.svg", id: "nav_upload" %>
			  	Sign Out
				<% end %>
			</div>
			<div class="nav_content_right">
				<%= link_to "My Prof", user_path(current_user), class: "nav_contents" %>
			</div>
		<% else %>
			<%= link_to "", root_path, id: "logocan", class: "nav_contents" %>
			<div id="logotext" class="nav_contents">HearHere</div>
			<div class="nav_content_right">
				<%= link_to new_user_path, class: "nav_contents" do %>
			  	<%= image_tag "upload2.svg", id: "nav_upload" %>
			  	Upload
				<% end %>
				</div>
			<div class="nav_content_right">
				<%= link_to new_user_path, class: "nav_contents" do %>
			  	<%= image_tag "signup.svg", id: "nav_icon" %>
			  	Sign Up
				<% end %>
				</div>
			<div class="nav_content_right">
				<%= link_to new_authentication_path, class: "nav_contents" do %>
			  	<%= image_tag "login_v2.svg", id: "nav_icon" %>
			  	Log In
				<% end %>
			</div>
		<% end %>

		<div id="playback_controls">
	    <select id="song_selection" class="pb_controllers">
	      <option value="0" selected="selected" disabled="disabled">Choose A Daft Punk Song</option>
	      <option value="1">Harder, Better, Faster, Stronger</option>
	      <option value="2">One More Time</option>
	      <option value="3">Aerodynamic</option>
	    </select>

	    <div plangular data-src="http://soundcloud.com/daftlist/harder-better-faster-stronger" class="pb_controllers">
		    <a href="" ng-click="player.play(track)" ng-hide="player.playing == track">
		    	<div id="play_song_btn_wrapper" class="pb_controllers">
			    	<%= image_tag "play_song.svg", id: "play_song_btn" %>
		    	</div>
		    </a>
		    <a href="" ng-click="player.pause()" ng-show="player.playing == track">
		    	<div id="stop_song_btn_wrapper" class="pb_controllers">
			    	<%= image_tag "stop.svg", id: "stop_song_btn" %>
		    	</div>
		    </a>
		    <div class="bd pb_controllers">
			    <!-- <p>{{ track.user.username }}</p>
			    <h1><a ng-href="{{ track.permalink_url }}">{{ track.title }}</a></h1> -->
			    <progress value="{{ currentTime / duration }}" ng-click="seekTo($event)">{{ currentTime / duration }}</progress>
			    <small>{{ currentTime | playTime }} | {{ duration | playTime }}</small>
			  </div>
		    <!-- <h1>{{ track.user.username }} - {{ track.title }}</h1> -->
		  </div>
		</div>
		<!-- render search nav on all pages except home -->
	  <%= render 'sounds/search' unless @disable_nav %>
	</div>
</nav>