<!DOCTYPE html>
<html>
<head>
  <title>HearHere</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script src="http://hoch.github.com/WAAX/build/WAAX.min.js"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top top_nav" href="/">
		<div id="logocan" > </div>
		
		<p class="nav_content_right"><%= link_to "Log In", "/authentications/new", method: :get, class: "nav_content_right"%></p>
		<p class="nav_content_right">Sign Up</p>
	</div>
	<div class="navbar navbar-fixed-top appended_nav">
		test
	</div>

<div id="search">
  <%= render :partial => 'sounds/search' unless @disable_nav %>
</div>

<%= yield %>

</body>
</html>
